@font-face {
  	font-family: 'Century Gothic';
  	src: local('Century Gothic'), url(../public/fonts/centurygothic.ttf) format('truetype');
}

body {
	margin: 0 !important;
	font-family: 'Century Gothic', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.centerAligned {
  	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	gap: 15px;
}

.centerAlignedRow {
	display: flex;
  	flex-direction: row;
  	align-items: center;
	justify-content: center;
  	gap: 15px;
}